:root {
    --bg-color: #011212;
    --ball-color: #ff8800;
    --size: 7rem;
    

}

body {
    background-color: var(--bg-color);
}

.ball {
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    background-color: var(--ball-color);
   

}